.nospace {
	font-size: 0;
	margin:0px;
}
.modal-open {
    overflow-y: hidden;
}
.fade-scale {
  transform: scale(1) slow;
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
 animation: roll 1s 1;
  /*transform: rotate(30deg);*/
  overflow: hidden;
}
@keyframes roll {
  0% {
    transform: rotate(0);
    transform-origin: left;
  }
  100% {
    transform: rotate(360deg);

  }
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1) slow;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100vw;
    height: 100vh;
    background: none;
}
.modal{
	-webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modal-body{
    /*width: 300px;*/

    font-family: ArialMT;
	font-size: 14px;
	color: #505050;
	letter-spacing: 0.35px;
	line-height: 30px;
	padding: 5% 10%;
}
.modal-content{
    padding-bottom: 10%;
}
.modal-header{
	align-items: baseline;
    flex-direction: column;
	padding: 0 10%;
}
.border-gradient-green {
  border-image-source: linear-gradient(to left, #00C853, #B2FF59);
}
.read-btn{
    background-image: linear-gradient(90deg, #611818 0%, #A36754 100%);
    border: 0;
    font-family: ArialMT;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 1.69px;
    text-align: center;
    padding: 13px 9%;
}
.modal-title{
	font-family: Helvetica;
	font-size: 66px;
	color: #611818;
	letter-spacing: 1.65px;
}
.modal-footer{
	border: 0;
	justify-content: flex-start;
			padding: 2% 10%;
}
*, ::after, ::before {
    box-sizing: content-box;
}
.flex-container {
	display: flex;
	height: 100vh;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 3.5rem;
}
.modal-dialog {
    max-width: 633px;
    margin: 1.75rem auto;
    margin-left: 10%;
}
.close{
	font-size: 30px;
	background: none;
	border: 0px;
	color: #611818;
	    text-align: right;
}
.modal-content{
	background: #FFFFFF;
	box-shadow: 0 0 10px 7px rgba(0,0,0,0.30);
	border-radius:0px;
}
.bkg{

	background: url('assets/johannes-plenio-RwHv7LgeC7s-unsplash.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	min-height: 100%;
	/*min-width: 1024px;*/

}
.full-width{
	/*margin:0px calc(50% - 50vw);*/
	position: relative;
}
.title {
	order: 2;
	font-size: 23px;
	color: white;
	position: relative;
	top: 43%;
    margin: 0 1%;
	display: inline-block;
}
.plus {
	order: 1;
	color: white;
	position: relative;
	left: 11%;
	top: 43%;

}
.container{
	position: relative;
	z-index: 2;

}
.details{
	font-size:300px;
}
.detail-container{
	position: relative;
	top: 43%;
	margin: 0;
	left: -15%;
	display: flex;
	align-items: center;
}
.button-container{
    background: none;
    border: none;
}
.explore{
	text-align: left;
	font-size: 200px;
	color: white;
	left: -16%;
	top: 46%;
}
.social-collection{
	width: 50px;
	height: 50px;
}
#facebook{
	display: block;
	position: absolute;
	bottom: 10%;
	right: 0px;
}
#ins{
	display: block;
	position: absolute;
	bottom: 10px;
	right: 0px;
}